{{>header}}

<h1>Welcome to Nodejs Server</h1>
<p>This server is created using nodejs app, and it is just a process in learning.</p>
<p>We will make this dynamic day by day. It will include noSQL DB MongoDB.</p>


{{>footer}}